console:
  serviceAccounts:
  - metadata:
      name: "{{.ApplicationName}}-rhpamsvc"
      labels:
        app: "{{.ApplicationName}}"
  rolebindings:
  - metadata:
      name: "{{.ApplicationName}}-rhpamsvc-view"
    subjects:
    - kind: ServiceAccount
      name: "{{.ApplicationName}}-rhpamsvc"
    roleRef:
      kind: Role
      name: view

  persistentVolumeClaims:
  - metadata:
      name: "{{.ApplicationName}}-rhpamcentr-claim"
      labels:
        app: "{{.ApplicationName}}"
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 1Gi

  deploymentConfigs:
  - metadata:
      name: "{{.ApplicationName}}-rhpamcentr"
      labels:
        app: "{{.ApplicationName}}"
        service: "{{.ApplicationName}}-rhpamcentr"
      annotations:
        template.alpha.openshift.io/wait-for-ready: "true"
    spec:
      strategy:
        type: Recreate
      triggers:
      - type: ImageChange
        imageChangeParams:
          automatic: true
          containerNames:
          - "{{.ApplicationName}}-rhpamcentr"
          from:
            kind: ImageStreamTag
            namespace: "openshift"
            name: "rhpam{{.Version}}-businesscentral-openshift:{{.ImageTag}}"
      - type: ConfigChange
  ## Replicas for Business Central
      replicas: 1
      selector:
        deploymentConfig: "{{.ApplicationName}}-rhpamcentr"
      template:
        metadata:
          name: "{{.ApplicationName}}-rhpamcentr"
          labels:
            deploymentConfig: "{{.ApplicationName}}-rhpamcentr"
            app: "{{.ApplicationName}}"
            service: "{{.ApplicationName}}-rhpamcentr"
        spec:
          serviceAccountName: "{{.ApplicationName}}-rhpamsvc"
          terminationGracePeriodSeconds: 60
          containers:
          - name: "{{.ApplicationName}}-rhpamcentr"
            image: rhpam{{.Version}}-businesscentral-openshift
            imagePullPolicy: Always
            resources:
              requests:
                memory: 768Mi
              limits:
                memory: 1Gi
            volumeMounts:
            - name: businesscentral-keystore-volume
              mountPath: "/etc/businesscentral-secret-volume"
              readOnly: true
            - name: "{{.ApplicationName}}-rhpamcentr-pvol"
              mountPath: "/opt/eap/standalone/data/kie"
            livenessProbe:
              exec:
                command:
                - "/bin/bash"
                - "-c"
                - curl --fail --silent -u adminUser:"$KIE_ADMIN_PWD" http://localhost:8080/kie-wb.jsp
              initialDelaySeconds: 180
              timeoutSeconds: 2
              periodSeconds: 15
            readinessProbe:
              exec:
                command:
                - "/bin/bash"
                - "-c"
                - curl --fail --silent -u adminUser:"$KIE_ADMIN_PWD" http://localhost:8080/kie-wb.jsp
              initialDelaySeconds: 60
              timeoutSeconds: 2
              periodSeconds: 30
              failureThreshold: 6
            ports:
            - name: jolokia
              containerPort: 8778
              protocol: TCP
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: https
              containerPort: 8443
              protocol: TCP
            - name: git-ssh
              containerPort: 8001
              protocol: TCP
            env:
            - name: KIE_MAVEN_USER
              value: mavenUser
            - name: KIE_MAVEN_PWD
              value: "{{.MavenPassword}}"
            - name: KIE_MBEANS
              value: enabled
            - name: HTTPS_KEYSTORE_DIR
              value: "/etc/businesscentral-secret-volume"
            - name: HTTPS_KEYSTORE
              value: "keystore.jks"
            - name: HTTPS_NAME
              value: "jboss"
            - name: HTTPS_PASSWORD
              value: "{{.KeyStorePassword}}"
            - name: WORKBENCH_ROUTE_NAME
              value: "{{.ApplicationName}}-rhpamcentr"
            - name: SSO_URL
              value: ""
            - name: SSO_OPENIDCONNECT_DEPLOYMENTS
              value: "ROOT.war"
            - name: SSO_REALM
              value: ""
            - name: SSO_SECRET
              value: ""
            - name: SSO_CLIENT
              value: ""
            - name: SSO_USERNAME
              value: ""
            - name: SSO_PASSWORD
              value: ""
            - name: SSO_DISABLE_SSL_CERTIFICATE_VALIDATION
              value: "false"
            - name: SSO_PRINCIPAL_ATTRIBUTE
              value: "preferred_username"
            - name: HOSTNAME_HTTP
              value: ""
            - name: HOSTNAME_HTTPS
              value: ""
            - name: AUTH_LDAP_URL
              value: ""
            - name: AUTH_LDAP_BIND_DN
              value: ""
            - name: AUTH_LDAP_BIND_CREDENTIAL
              value: ""
            - name: AUTH_LDAP_JAAS_SECURITY_DOMAIN
              value: ""
            - name: AUTH_LDAP_BASE_CTX_DN
              value: ""
            - name: AUTH_LDAP_BASE_FILTER
              value: ""
            - name: AUTH_LDAP_SEARCH_SCOPE
              value: ""
            - name: AUTH_LDAP_SEARCH_TIME_LIMIT
              value: ""
            - name: AUTH_LDAP_DISTINGUISHED_NAME_ATTRIBUTE
              value: ""
            - name: AUTH_LDAP_PARSE_USERNAME
              value: ""
            - name: AUTH_LDAP_USERNAME_BEGIN_STRING
              value: ""
            - name: AUTH_LDAP_USERNAME_END_STRING
              value: ""
            - name: AUTH_LDAP_ROLE_ATTRIBUTE_ID
              value: ""
            - name: AUTH_LDAP_ROLES_CTX_DN
              value: ""
            - name: AUTH_LDAP_ROLE_FILTER
              value: ""
            - name: AUTH_LDAP_ROLE_RECURSION
              value: ""
            - name: AUTH_LDAP_DEFAULT_ROLE
              value: ""
            - name: AUTH_LDAP_ROLE_NAME_ATTRIBUTE_ID
              value: ""
            - name: AUTH_LDAP_PARSE_ROLE_NAME_FROM_DN
              value: ""
            - name: AUTH_LDAP_ROLE_ATTRIBUTE_IS_DN
              value: ""
            - name: AUTH_LDAP_REFERRAL_USER_ATTRIBUTE_ID_TO_CHECK
              value: ""
          volumes:
          - name: businesscentral-keystore-volume
            secret:
              secretName: "{{.ApplicationName}}-businesscentral-app-secret"
          - name: "{{.ApplicationName}}-rhpamcentr-pvol"
            persistentVolumeClaim:
              claimName: "{{.ApplicationName}}-rhpamcentr-claim"

  services:
  - spec:
      ports:
      - name: http
        port: 8080
        targetPort: 8080
      - name: https
        port: 8443
        targetPort: 8443
      - name: git-ssh
        port: 8001
        targetPort: 8001
      selector:
        deploymentConfig: "{{.ApplicationName}}-rhpamcentr"
    metadata:
      name: "{{.ApplicationName}}-rhpamcentr"
      labels:
        app: "{{.ApplicationName}}"
        service: "{{.ApplicationName}}-rhpamcentr"
      annotations:
        description: All the Business Central web server's ports.

  routes:
  - id: "{{.ApplicationName}}-rhpamcentr-https"
    metadata:
      name: "{{.ApplicationName}}-rhpamcentr"
      labels:
        app: "{{.ApplicationName}}"
        service: "{{.ApplicationName}}-rhpamcentr"
      annotations:
        description: Route for Business Central's https service.
        haproxy.router.openshift.io/timeout: 60s
    spec:
      host: ""
      to:
        name: "{{.ApplicationName}}-rhpamcentr"
      port:
        targetPort: https
      tls:
        insecureEdgeTerminationPolicy: Redirect
        termination: passthrough

## KIE Servers BEGIN
servers:
## RANGE BEGINS
{{ range $index, $Map := .ServerCount }}
- persistentVolumeClaims:
  ## H2 persistent volume claim BEGIN
  - metadata:
      name: "{{.ApplicationName}}-h2-claim-{{$index}}"
      labels:
        app: "{{.ApplicationName}}"
        service: "{{.ApplicationName}}-kieserver-{{$index}}"
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: "1Gi"
  ## H2 persistent volume claim END

  ## KIE server deployment config BEGIN
  deploymentConfigs:
  - metadata:
      name: "{{.ApplicationName}}-kieserver-{{$index}}"
    spec:
      replicas: 1
      template:
        metadata:
          name: "{{.ApplicationName}}-kieserver-{{$index}}"
        spec:
          containers:
          - name: "{{.ApplicationName}}-kieserver"
            resources:
              requests:
                memory: 768Mi
            volumeMounts:
  ## H2 volume mount BEGIN
            - name: "{{.ApplicationName}}-h2-pvol"
              mountPath: "/opt/eap/standalone/data"
  ## H2 volume mount END
            env:
            - name: MAVEN_REPOS
              value: "RHPAMCENTR,EXTERNAL"
            - name: RHPAMCENTR_MAVEN_REPO_USERNAME
              value: mavenUser
            - name: RHPAMCENTR_MAVEN_REPO_PASSWORD
              value: "{{.MavenPassword}}"
            - name: RHPAMCENTR_MAVEN_REPO_PATH
              value: /maven2/
            - name: RHPAMCENTR_MAVEN_REPO_SERVICE
              value: "{{.ApplicationName}}-rhpamcentr"
            - name: KIE_SERVER_CONTROLLER_TOKEN
              value: ""
            - name: KIE_SERVER_ID
              value: "{{.ApplicationName}}-kieserver-{{$index}}"
            - name: KIE_SERVER_HOST
              value: ""
            - name: KIE_SERVER_ROUTE_NAME
              value: "{{.ApplicationName}}-kieserver-{{$index}}"
            - name: KIE_SERVER_USE_SECURE_ROUTE_NAME
              value: "false"
          volumes:
          - name: kieserver-keystore-volume
            secret:
              secretName: "{{.ApplicationName}}-kieserver-{{$index}}-app-secret"
  ## H2 volume settings BEGIN
          - name: "{{.ApplicationName}}-h2-pvol"
            persistentVolumeClaim:
              claimName: "{{.ApplicationName}}-h2-claim-{{$index}}"
  ## H2 volume settings END

  ## KIE server deployment config END
  ## KIE server services BEGIN
  services:
  - spec:
      ports:
      - name: http
        port: 8080
        targetPort: 8080
      - name: https
        port: 8443
        targetPort: 8443
      selector:
        deploymentConfig: "{{.ApplicationName}}-kieserver-{{$index}}"
    metadata:
      name: "{{.ApplicationName}}-kieserver-{{$index}}"
      labels:
        app: "{{.ApplicationName}}"
        service: "{{.ApplicationName}}-kieserver-{{$index}}"
      annotations:
        description: All the KIE server web server's ports.
  ## KIE server routes BEGIN
  routes:
  - id: "{{.ApplicationName}}-kieserver-{{$index}}-https"
    metadata:
      name: "{{.ApplicationName}}-kieserver-{{$index}}"
      labels:
        app: "{{.ApplicationName}}"
        service: "{{.ApplicationName}}-kieserver-{{$index}}"
      annotations:
        description: Route for KIE server's https service.
    spec:
      host: ""
      to:
        name: "{{.ApplicationName}}-kieserver-{{$index}}"
      port:
        targetPort: https
      tls:
        insecureEdgeTerminationPolicy: Redirect
        termination: passthrough
{{end}}
## RANGE ends
## KIE Servers END
