apiVersion: apps/v1
kind: Deployment
metadata:
  name: kie-cloud-operator
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: kie-cloud-operator
  template:
    metadata:
      labels:
        name: kie-cloud-operator
    spec:
      serviceAccountName: kie-cloud-operator
      containers:
        - name: kie-cloud-operator
          image: quay.io/kiegroup/kie-cloud-operator:v0.1.0
          ports:
            - containerPort: 60000
              name: metrics
          command:
            - kie-cloud-operator
          imagePullPolicy: Always
          readinessProbe:
            exec:
              command:
                - stat
                - /tmp/operator-sdk-ready
            initialDelaySeconds: 4
            periodSeconds: 10
            failureThreshold: 1
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "kie-cloud-operator"
            #- name: DEBUG
            #  value: ""
            #- name: INSECURE
            #  value: ""
            #- name: REGISTRY
            #  value: ""
