apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kie-cloud-operator
rules:
- apiGroups:
  - ""
  - apps
  - apps.openshift.io
  - rbac.authorization.k8s.io
  - route.openshift.io
  - build.openshift.io
  - image.openshift.io
  - app.kiegroup.org
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - operators.coreos.com
  resources:
  - clusterserviceversions
  verbs:
  - '*'
- apiGroups:
  - apps
  resourceNames:
  - kie-cloud-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - console.openshift.io
  resources:
  - consolelinks
  verbs:
  - get
  - create
  - update
  - delete
